@charset "UTF-8";


:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}



svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Código */
.header{
  width:100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1em;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  
  color:white;
  position: fixed;
  transition: background-color 0.5s ease;
 
}





.logo{
    align-items: center;
    display: flex;
}

.h1LogoImagen1{
    display: none;

}



.header .button{

  display: none;
}
.header .svg{
  width:2em;
  height:2em;
  fill:white;
}

.header .ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  
}
.header .li{
  margin: 0 .5em;

}





.caratula{
    height: 100vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/fondo.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
  
}

.tituloCentral{
    font-size: 40px;
    text-transform: uppercase;
    color: white;
   
}

.tituloSecundario{
    text-align: center;
    font-size: 20px;
    color: white;
   
}

.tituloTerciario{
    text-align: left;
    font-size: 30px;
    color: black;
    
   
}

.parrafo{
    text-align: justify;
    font-size: 20px;
    color: black;
    max-width: 700px
    
}



.parrafo2{
    text-align: justify;
    font-size: 20px;
    color: black;
    width: 100%;
   
}




.col1b{
  text-align: center;
  max-width: 900px;
  margin: 0 10px;
  flex: 1;
}


.botonCentral{
    font-size: 20px;
    color: white;
    padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
    border: 2px solid white; /* Grosor, estilo y color del borde */
    border-radius: 0; /* Asegura que no haya redondeo en las esquinas */
    background-color: transparent; /* Fondo transparente para mostrar el borde */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    outline: none; /* Elimina el contorno predeterminado al hacer clic */
  
}
.inputBusqueda{
  font-size: 20px;
  color: white;
  padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
  border: 2px solid white; /* Grosor, estilo y color del borde */
  border-radius: 0; /* Asegura que no haya redondeo en las esquinas */
  background-color: transparent; /* Fondo transparente para mostrar el borde */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  outline: none; /* Elimina el contorno predeterminado al hacer clic */
  width: 650px;

}

.inputBusqueda::placeholder {
  color: white; /* Color del marcador de posición */
}

.footer{
   background-color:#1C2331;  
   padding: 10px;

}

.apartado1{
    height: 100vh;   

    background-color: white;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.rowDash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.rowDash2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.col2{
    text-align: left;
    width: 50%;
    margin: 0 10px;
    flex: 1;
}

.col2im{
    width: 50%;
    justify-content:right;
    display: flex;
    margin: 0 10px;
    flex: 1;
}
.imagen{
    
    width: 700px;
}

.col1{
    text-align: center;
    max-width: 1400px;
    margin: 0 10px;
    flex: 1;
}



.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}

.box{   /*Parte de los cuadrados*/
    background-color:#1C2331;
    margin: 1rem;   /*lo separo para que este por separado la parte de cuadrado*/
    height: 16rem;/*Altura del cuadrado*/
    width: 14rem; /*Ancho del cuadrado*/
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.box1{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Establece la altura de la caja al 100% del viewport height */

 
  padding: 0;
  margin: 0;
  border: 1px solid white;
  height: 20%;
 
 

}


.box2{
  height: 80%;
  padding: 0;
  margin: 0;

}

.box h3{
    font-size: 20px;
    color: white;
    margin: 2px;
}

.box i{
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    color: aliceblue;
    
    font-size: 1rem;
    margin: 18px 6rem;
    height: 10%;

}

.box p{
    margin: 10px;
    font-size: 15px;
    height: 26.7%;

}


.box a{
    font-size: 12px;
    margin: 60px;
    margin-top: 4px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 12px;
    color: aliceblue;
    text-decoration: none;
    background-color: transparent;
    height: 26.7%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  
 
}




.footer-content {
    background-color: rgb(41, 38, 38);
    display: flex; /* Establece el contenedor como flexbox */
    justify-content:center; /* Distribuye uniformemente los elementos a lo largo del contenedor */
 
}

.link {
    margin-right: 100px; /* Añade un margen derecho entre cada elemento */
    margin-left: 70px;
    margin-top: 15px;
    padding-left: 35px;
    padding-right: 30px;
    font-size: 18px;

}

.link h3{
    color: white;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2px;
    text-align: center;
    font-size: 22px;
    text-decoration:underline;
}
.link ul{
    color: white;
    list-style-type: none;
            padding-left: 0;
}


.rowFooter {

    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-around;
    align-items: flex-start;
}


@media screen and (max-width:735px){
  .inputBusqueda{

    width: 90%;
  }
  

    .link {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }


    

    .parrafo2{
        
        text-align: justify;
      
        max-width: 700px
    }
    .parrafo{
        
        text-align: justify;
      
    }

    
    .row {
        flex-direction: column; /* Colocar los elementos uno debajo del otro */
        align-items: center; /* Centrar los elementos verticalmente */
        margin-top: 30px;
       
    }
    .col2 {
        margin: 20px 0; /* Espacio entre los elementos */
        width: 80%; /* Cambia el ancho a 100% para ocupar toda la fila */
    }

    .col1 {
        margin: 20px 0; /* Espacio entre los elementos */
        width: 80%; /* Cambia el ancho a 100% para ocupar toda la fila */
    }

    .col2im {
        width: 80%; /* Cambia el ancho a 100% para ocupar toda la fila */
    }
    .header{
        background-color: #1C2331;
    }
   
   
  .header .button{
    display: block;
    cursor: pointer;
  }
  .header .nav{
    width:100%;
    /* display: none; */
    height:0;
    pointer-events: none;
    overflow: hidden;
 /*   transition: all .5s ease;*/

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
  }
  .header .nav.activo{
    /* display: block; */
    height:50vh;
    pointer-events: auto;
  }
  .header .ul{
    flex-direction: column;
  }
  .header .li{
    margin: 1rem 0;
  }

  .h1LogoImagen1{
    display: flex;

    }

    .h1LogoImagen2{
        display: none;
    }

}




.ytframe {
  background: transparent;
 width:  600px;
 text-align: center;
}

.ytframe iframe {
    display: inline-block;
}




/*NUESTROS DOCUMENTO O CURSOS*/

.container-cursos{
  padding: 50px 0;
  text-align: center;
  background-image: url('../img/fondo.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;

  
}

.curso-txt{

  text-align: center;
}


.curso-txt h2{

  color:white;
  font-size: 35px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;

 
}

.curso-txt p{
  color: white;
  margin-top: 18px;
  margin-bottom: 40px;

 
}


.curso-group1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.curso1-1{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 calc(33.33% - 20px);
  padding-bottom: 25px;
}


@media screen and (max-width: 768px) {
  .curso1-1 {
    flex: 0 0 calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .curso1-1 {
    flex: 0 0 calc(100% - 20px);
  }

  .curso-group1{
 
      justify-content: center;
  
  }
  
}


.curso1-1 img{
  width: 213px;   /*EN LAS IMAGEN ESTABLECEMOS EL ANCHO*/
  height: 280px;  /*EN LAS IMAGEN ESTABLECEMOS LA ALTURA */
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */

}




.curso1-1 h3{
  margin-bottom: 20px;
  font-size: 22px;
  color: white;
}


.curso1-1 p{
  padding: 0 50px;
  margin-bottom: 40px;
  color: white;
  
}

.curso1-1 a{
  
  font-size: 20px;
    color: white;
    padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
    border: 2px solid white; /* Grosor, estilo y color del borde */
    border-radius: 0; /* Asegura que no haya redondeo en las esquinas */
    background-color: transparent; /* Fondo transparente para mostrar el borde */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    outline: none; /* Elimina el contorno predeterminado al hacer clic */
    width: 100px;
    display: inline-block;
}

