table{
    margin: 33px 0;
    width: 100%;
    text-align: left;      
    border-collapse: collapse;
  }
  
  tr{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 8px;
  }
  
  th{
    color: black;
    padding-bottom: 12px;
  }
  
  td{
    color:black;
  }
  
  